{% extends 'baseLogin.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="blocLogin shadow">
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-bold font-Roboto text-center">Connexion</h1>
    <h5 for="inputEmail font-Roboto font-weight-bold">E-mail</h5>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <br><h5 for="inputPassword font-Roboto mt-3 font-weight-bold">Mot de passe</h5>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="text-center">
        <button class="btn btn-primary pl-4 pr-4 font-weight-bold font-Roboto btn-md mt-4 btn-rounded" type="submit">
            Se connecter
        </button>
    </div>
    
</form>
</div>
{% endblock %}
