{% extends 'base.html.twig' %}

{% block title %}Agenda{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{asset('plugs/agenda/style.css')}}">
{% endblock %}

{% block header_title %}
    Agenda
{% endblock %}

{% block content %}
<div class="pl-3 pr-3 w-100">
<h2 class="font-Montserrat mt-4 font-weight-bold text-center">Liste des agenda</h2>
  <hr>
</div>
            <div class="p-5 pt-1">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-brown">
                        <tr>
                            <th>Mariée</th>
                            <th>Festivité</th>
                            <th>Lieu</th>
                            <th>Ville</th>
                            <th>Date</th>
                            <th>Heure</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in agenda %}
                        <tr>
                            <td>{{ item.IdMariage.NomHomme }} & {{ item.IdMariage.NomFemme }}</td>
                            <td>{{ item.NomFest }}</td>
                            <td>{{ item.Lieu }}</td>
                            <td>{{ item.Ville }}</td>
                            <td>{{ item.Date | format_datetime('full','none') }}</td>
                            <td>{{ item.Heure | format_datetime('none','short') }}</td>
                        </tr>  
                    {% endfor %}
                    </tbody>
                </table>
            </div>    
        </div>

{% endblock %}
