{% extends 'base.html.twig' %}


{% block stylesheets %}
{{ parent() }}
{# <link rel="stylesheet" href="{{asset('perso/css/album.css')}}"> #}
    {# albums #}
    <link rel="stylesheet" href="{{asset('plugs/album/fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="{{asset('plugs/album/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('plugs/album/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('plugs/album/css/style.css')}}">

    {# videos #}
    <link rel="stylesheet" href="{{asset('plugs/videos/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('plugs/videos/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('plugs/videos/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('plugs/audio/style.css')}}">
    
    <style>
      h2
      {
        font-family : 'Montserrat' ;
        font-weight : bold ;
        font-size : 2.5em ;
      }
      </style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    {# <script src="js/jquery-3.3.1.min.js"></script> #}
    {# albums #}
    <script src="{{asset('plugs/album/js/popper.min.js')}}"></script>
    <script src="{{asset('plugs/album/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('plugs/album/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('plugs/album/js/main.js')}}"></script>
    {# videos #}
    <script src="{{asset('plugs/videos/js/main.js')}}"></script>
    <script src="{{asset('plugs/audio/main.js')}}"></script>

{% endblock %}

{% block title %}Accueil{% endblock %}

{% block content %}
<!-- partial:index.partial.html -->
<main class="main-content">
  <section class="slideshow">
    <div class="slideshow-inner">
      <div class="slides">
      {% set i = 0 %}
        {% for mariage in mariages %}
          <div class="slide {{ (i == 0) ? 'is-active' : '' }}">
          <div class="slide-content">
            <div class="caption">
              <div class="title">{{ mariage.NomHomme }} & {{ mariage.NomFemme }}</div>
              <div class="text">
                <p>Vive les mariées</p>
              </div> 
              <a href="#" class="btn">
                <span class="btn-inner">Détails</span>
              </a>
            </div>
          </div>
          <div class="image-container"> 
            <img src="{{asset('plugs/photo/albums/' ~ mariage.PhotoMariee )}}" alt="" class="image" />
          </div>
        </div>
        {% set i = i + 1 %}
        {% endfor %}
      </div>
      <div class="pagination">
        <div class="item is-active"> 
          <span class="icon">1</span>
        </div>
        <div class="item">
          <span class="icon">2</span>
        </div> 
        <div class="item">
          <span class="icon">3</span>
        </div>
        <div class="item">
          <span class="icon">4</span>
        </div>
      </div>
      <div class="arrows">
        <div class="arrow prev">
          <span class="svg svg-arrow-left">
            <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
        <div class="arrow next">
          <span class="svg svg-arrow-right">
            <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
            <span class="alt sr-only"></span>
          </span>
        </div>
      </div>
    </div> 
  </section>
</main>
<!-- partial -->
<div class="w-100 p-5 container-fluid fond-inv">
  <div class="inv ml-auto row mr-auto">
      <div class="col-md-4 image-block">
        <img src="{{ asset("plugs/perso/images/fond_invitation.png") }}" class="img fond-inv-image">
        <img src="{{ asset("plugs/predefinie/images/mariee.jpg") }}" class="img img-circle inv-image">
      </div>
      <div class="col-md-8 p-5 text-center">
        <h1 class="font-Great color-wedding">Ousmane & Malia</h1>
        <p class="font-wedding h4 mot-inv">seraient heureux de vous compter parmis leurs invités pour la .... (Festivités) qui aura lieu au  .... (Lieu) le .... (Date) à partir de .... (Heure) </p>
        <label class="font-wedding mot-inv">Réponse souhautée avant le ... (15j avant Date)</label><br>
      </div>
      
  </div>
</div>
<div class="text-center p-3">
      <h2 class="font-Great color-title font-weight-bold" >Albums</h2>
      <hr>
        <div class="owl-carousel p-5 pb-2 owl-2">
          <div class="media-29101">
            <a href="#"><img src="{{asset('plugs/album/images/img_1.jpg')}}" alt="Image" class="img-fluid"></a>
            <h3><a href="#" class="color-description font-Great">04 Jan 2023</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('plugs/album/images/img_2.jpg')}}" alt="Image" class="img-fluid"></a>
            <h3><a href="#" class="color-description font-Great">17 Jan 2023</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('plugs/album/images/img_3.jpg')}}" alt="Image" class="img-fluid"></a>
            <h3><a href="#" class="color-description font-Great">15 Jan 2023</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('plugs/album/images/img_4.jpg')}}" alt="Image" class="img-fluid"></a>
            <h3><a href="#" class="color-description font-Great" >01 Fev 2023</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('plugs/album/images/img_5.jpg')}}" alt="Image" class="img-fluid"></a>
            <h3><a href="#" class="color-description font-Great">06 Fev 2023</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('plugs/album/images/img_6.jpg')}}" alt="Image" class="img-fluid"></a>
            <h3><a href="#" class="color-description font-Great">08 Fev 2023</a></h3>
          </div>
        </div>
        <h2 class="font-Great color-title font-weight-bold" >Vidéos</h2>
      <hr>
      <div class="featured-carousel p-5 owl-carousel">
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url({{asset('plugs/videos/images/work-1.jpg')}});">
										<div class="text w-100">
											{# <a href="#"><span class="cat"><i class="fa fa-play"></i></span></a> #}
											<h3><a href="#" class="color-description font-Great">15 Sep 2022</a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url({{asset('plugs/videos/images/work-2.jpg')}});">
										<div class="text w-100">
											<a href="#"><span class="cat"><i class="fa fa-play"></i></span></a>
											<h3><a href="#">Video 02</a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url({{asset('plugs/videos/images/work-3.jpg')}});">
										<div class="text w-100">
											<a href="#"><span class="cat"><i class="fa fa-play"></i></span></a>
											<h3><a href="#">Video 03</a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url({{asset('plugs/videos/images/work-4.jpg')}});">
										<div class="text w-100">
											<a href="#"><span class="cat"><i class="fa fa-play"></i></span></a>
											<h3><a href="#">Video 04</a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image: url({{asset('plugs/videos/images/work-5.jpg')}});">
										<div class="text w-100">
											<a href="#"><span class="cat"><i class="fa fa-play"></i></span></a>
											<h3><a href="#">Video 05</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
      <h2 class="font-Great color-title font-weight-bold" >Audio</h2>
      <hr>
      <div class="gtco-testimonials p-3">
      <div class="owl-carousel owl-carousel1 owl-theme">
        <div>
          <div class="card text-center"><img class="card-img-top" src="{{asset('plugs/audio/audio-1.jpeg')}}" alt="">
            <div class="card-body">
              <h5>Titre audio <br />
                <span>Date audio</span>
              </h5>
              {# <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                impedit quo minus id quod maxime placeat ” </p> #}
            </div>
          </div>
        </div>
        <div>
          <div class="card text-center"><img class="card-img-top" src="{{asset('plugs/audio/audio-2.jpg')}}" alt="">
            <div class="card-body">
              <h5>Titre audio <br />
                <span>Date audio</span>
              </h5>
              {# <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                impedit quo minus id quod maxime placeat ” </p> #}
            </div>
          </div>
        </div>
        <div>
          <div class="card text-center"><img class="card-img-top" src="{{asset('plugs/audio/audio-1.jpeg')}}" alt="">
            <div class="card-body">
              <h5>Titre audio <br />
                <span>Date audio</span>
              </h5>
              {# <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                impedit quo minus id quod maxime placeat ” </p> #}
            </div>
          </div>
        </div>
        <div>
          <div class="card text-center"><img class="card-img-top" src="{{asset('plugs/audio/audio-2.jpg')}}" alt="">
            <div class="card-body">
              <h5>Titre audio <br />
                <span>Date audio</span>
              </h5>
              {# <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                impedit quo minus id quod maxime placeat ” </p> #}
            </div>
          </div>
        </div>
      </div>
  </div>
 
  <h2 class="font-Great color-title font-weight-bold">Boutiques</h2>
  <hr>
  <div class="p-5 pb-2">
  <div class="row">
    <div class="col-md-3">
        <div class="product-wrapper text-center"> 
            <div class="product-img">
            <a href="#" data-abc="true"> <img src="{{asset('plugs/boutiques/robe.jpg')}}" alt=""> </a>
            <span class="text-center">43 000 <i class="fa fa-euro"></i></span>
                <div class="product-action"> 
                    <div class="product-action-style">
                        <a href="#"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i> </a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="product-wrapper text-center"> 
            <div class="product-img">
            <a href="#" data-abc="true"> <img src="{{asset('plugs/boutiques/bijoux.webp')}}" alt=""> </a>
            <span class="text-center">43 000 <i class="fa fa-euro"></i></span>
                <div class="product-action"> 
                    <div class="product-action-style">
                        <a href="#"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i> </a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="product-wrapper text-center"> 
            <div class="product-img">
            <a href="#" data-abc="true"> <img src="{{asset('plugs/boutiques/costard.jpg')}}" alt=""> </a>
            <span class="text-center">43 000 <i class="fa fa-euro"></i></span>
                <div class="product-action"> 
                    <div class="product-action-style">
                        <a href="#"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i> </a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="product-wrapper text-center"> 
            <div class="product-img">
            <a href="#" data-abc="true"> <img src="{{asset('plugs/boutiques/chaussure.jpg')}}" alt=""> </a>
            <span class="text-center">43 000 <i class="fa fa-euro"></i></span>
                <div class="product-action"> 
                    <div class="product-action-style">
                        <a href="#"><i class="fa fa-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i> </a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="w-100  mt-5">
    <button class="btn btn-outline-danger pl-5 p-2 pr-5 voir-plus " >Voir plus</button>
  </div>
</div>
  <h2 class="font-Great color-title font-weight-bold">Prestations</h2>
  <hr>
  <div class="p-5 pb-2">
    <div class="row">
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="{{asset('plugs/prestations/photographe.jpg')}}" />
                </div>

                {# <a class="card-action" href="#"><i class="fa fa-heart"></i></a> #}
                <div class="card-heading">
                    Photographe
                </div>
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </div>
                <a href="#" class="card-button"> Commander</a>
            </div>
        </div>
      <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="{{asset('plugs/prestations/organisateur.jpg')}}" />
                </div>

                {# <a class="card-action" href="#"><i class="fa fa-heart"></i></a> #}
                <div class="card-heading">
                    Organisateur
                </div>
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </div>
                <a href="#" class="card-button"> Commander</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="{{asset('plugs/prestations/patissier.jpg')}}" />
                </div>

                {# <a class="card-action" href="#"><i class="fa fa-heart"></i></a> #}
                <div class="card-heading">
                    Pâtissier
                </div>
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </div>
                <a href="#" class="card-button"> Commander</a>
            </div>
        </div>
      <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="{{asset('plugs/prestations/maquilleur.webp')}}" />
                </div>

                {# <a class="card-action" href="#"><i class="fa fa-heart"></i></a> #}
                <div class="card-heading">
                    Maquilleur/Coiffeur
                </div>
                <div class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                </div>
                <a href="#" class="card-button"> Commander</a>
            </div>
        </div>
    </div>
  <div class="w-100  mt-5">
    <button class="btn btn-outline-danger pl-5 p-2 pr-5 voir-plus " >Voir plus</button>
  </div>
  </div>
  

</div>
{% endblock %}

