{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block stylesheets  %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('plugs/album/style.css')}}">
{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}

{% block header_title %}
    Albums
{% endblock %}

{% block content %}
    <div class="padding">
      <div class="block pl-5 pr-5 m-4">
        <div class="sous-block w-100">
            <img src="{{asset('plugs/mariage/mariage.png')}}" class="img mrg-image" alt="">
            <h4 class="font-Monserrat font-italic font-weight-bold mt-3 ml-3">Adnane et Hasna</h4>
        </div>
        <div class="sous-block w-100">
            <img src="{{asset('plugs/mariage/hall.png')}}" class="img mrg-image ml-auto" alt="">
            <h4 class="font-Monserrat font-italic font-weight-bold mt-3 ml-3">A la mairie </h4>
        </div>
      </div>
      <div class="myAlbum">
            <div class="contenu_album p-2 w-75">
                <div class="elem_album">
                    <div class="cadre m-2">
                            <img src="{{asset('plugs/album/images/hero_1.jpg')}}" alt="" class="img img-thumbnail img-fluid">
                    </div>
                </div>
                <div class="elem_album">
                    <div class="cadre m-2">
                            <img src="{{asset('plugs/album/images/hero_1.jpg')}}" alt="" class="img img-thumbnail img-fluid">
                    </div>
                </div>
                <div class="elem_album">
                    <div class="cadre m-2">
                            <img src="{{asset('plugs/album/images/hero_1.jpg')}}" alt="" class="img img-thumbnail img-fluid">
                    </div>
                </div>
                <div class="elem_album">
                    <div class="cadre m-2">
                            <img src="{{asset('plugs/album/images/hero_1.jpg')}}" alt="" class="img img-thumbnail img-fluid">
                    </div>
                </div>
                <div class="elem_album">
                    <div class="cadre m-2">
                            <img src="{{asset('plugs/album/images/hero_1.jpg')}}" alt="" class="img img-thumbnail img-fluid">
                    </div>
                </div>
                <div class="elem_album">
                    <div class="cadre m-2">
                            <img src="{{asset('plugs/album/images/hero_1.jpg')}}" alt="" class="img img-thumbnail img-fluid">
                    </div>
                </div>   
            </div>
            <div class="option_album border text-white text-left p-3 w-25 bg-secondary">
                <label for="" class="font-Montserrat h4">Mariage</label>
                <input type="text" class="form-control" placeholder="Ecrire ici . . .">
            </div>
      </div>
    </div>

{% endblock %}