{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block stylesheets  %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('plugs/album/style.css')}}">
{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block header_title %}
    Albums
{% endblock %}
{% if firstFestivite is not empty %}
    {% set nomHomme = firstFestivite.nom_homme %} 
    {% set nomFemme = firstFestivite.nom_femme %} 
    {% set nomFestivite = firstFestivite.festivite %} 
{% else %}
    {% set nomHomme = "Homme" %} 
    {% set nomFemme = "Femme" %} 
    {% set nomFestivite = "Aucune Festivité" %} 
{% endif %}
{% block content %}
    <div class="padding">
      <div class="block pl-5 pr-5 m-4">
        <div class="sous-block w-100">
            <img src="{{asset('plugs/mariage/hall.png')}}" class="img mrg-image" alt="">
            <h4 class="font-Monserrat font-italic font-weight-bold h5 mt-3 ml-3 text-orange">{{nomHomme}} & {{ nomFemme }}</h4>
        </div>
        <div class="sous-block w-100">
            <img src="{{asset('plugs/mariage/alarm.png')}}" class="img mrg-image" alt="">
            <h4 class="font-Monserrat font-italic font-weight-bold h5 mt-3 ml-3 text-orange">{{ nomFestivite }}</h4>
        </div>
      </div>
      <div class="myAlbum">
    <div class="contenu_album p-2 w-75">
 {% if albums is not empty %}
        {% for album in albums %}
            {% for attache in album.attachements %}
                {% set extension = attache.Image|split('.') %}
                {% if extension[1] in extensionImage %}
                <div class="elem_album">
                    <div class="cadre m-2">
                        <a href="{{asset('plugs/photo/albums/' ~ attache.Image)}}" data-lightbox="album" data-title="{{ album.Date |date('d M Y') }}">
                            <img src="{{asset('plugs/photo/albums/' ~ attache.Image)}}" alt="" class="img img-thumbnail img-fluid">
                        </a>       
                    </div>
                </div>  
                {% endif %}
            {% endfor %}
        {% endfor %}  
{% else %}
        <div class="elem_album">
            <div class="cadre m-2">
                <a href="{{asset('plugs/default.png')}}" data-lightbox="album" data-title="Insérer un album">
                    <img src="{{asset('plugs/default.png')}}" alt="" class="img img-thumbnail img-fluid">
                </a>       
            </div>
        </div>
{% endif %}
    </div>
            <div class="option_album text-white text-left p-3 w-25 bg-grey">
                <label for="" class="font-Montserrat text-secondary font-weight-bold h5">Mariage</label>
                <select name="mariage" id="" class="custom-select">
                    <option value="" disabled selected>Mariage</option>
                    {% for mariage in mariage %}
                        <option value="{{ mariage.id }}">{{ mariage.NomHomme }} & {{ mariage.NomFemme }}</option>
                    {% endfor %}
                </select>
                <label for="" class="font-Montserrat text-secondary mt-4 font-weight-bold h5">Festivités</label>
                <select name="mariage" id="" class="custom-select">
                    <option value="" disabled selected>Festivité</option>
                    {% for festivite in allFestivites %}
                        <option value="{{ festivite.id }}|{{ festivite.Festivite }}" >{{ festivite.Festivite }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-warning font-weight-bold text-white btn-block mt-4"><i class="fas fa-eye"></i>&nbsp;&nbsp;Afficher</button>
            </div>
      </div>
    </div>

{% endblock %}