{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block stylesheets  %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('plugs/album/style.css')}}">
{% endblock %}

{% block javascripts %}
    {{parent()}}
    
{% endblock %}

{% block header_title %}
    Détails Mariage
{% endblock %}

{% block content %}

<div class="padding pt-3 ">
    <div class="w-100">
        <h4 class="text-uppercase text-center font-weight-bold color-title-apart">{{ unMariage.NomHomme }} & {{ unMariage.NomFemme }}</h4>
        {# <input type="hidden" value="{{unMariage.id}}" class="idMariage" > #}
    </div>
    <div class="border_title mx-auto"></div>
    {% for festivite in festivites|keys %}
        {% set nomFest = (festivite|split('|'))[0] %}
        {% set idFest = (festivite|split('|'))[1] %}
    <div class="contentData mt-4">
        <h5 class="text-uppercase mt-2"><i class="fa fa-layer-group"></i>&nbsp;{{nomFest}}</h5>
        <div class="w-100 d-flex flex-row align-items-center mt-2 ml-3">
            <button value="{{idFest}}" data-target=".myAlbum" data-mariage="{{unMariage.id}}" data-type="ALBUM" data-class="btn-info" class="btn mx-2 affiche_contenu btn-info font-smaller px-4 py-1 btn_round">Album</button>
            <button value="{{idFest}}" data-target=".myAlbum" data-mariage="{{unMariage.id}}" data-type="AUDIO" data-class="btn-info" class="btn mx-2 affiche_contenu btn-outline-info font-smaller px-4 py-1 btn_round">Audio</button>
            <button value="{{idFest}}" data-target=".myAlbum" data-mariage="{{unMariage.id}}" data-type="VIDEO" data-class="btn-info" class="btn mx-2 affiche_contenu btn-outline-info font-smaller px-4 py-1 btn_round">Vidéo</button>
        </div>
        <div class="myAlbum mt-3">
            <div class="contenu_album overflow-auto p-2 w-100">
                {% for album in festivites[festivite] %}
                    <div class="elem_album">
                        <div class="cadre m-2">
                            <a href="{{asset('plugs/photo/albums/' ~ album[0] )}}" data-lightbox="album" data-title="{{ album[1] }}">
                                <img src="{{asset('plugs/photo/albums/' ~ album[0] )}}" alt="" class="img img-thumbnail img-fluid">
                            </a>       
                        </div>
                    </div>
                {% endfor %}  
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}