{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block stylesheets  %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('album/fonts/icomoon/style.css')}}">
    <link rel="stylesheet" href="{{asset('album/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('album/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('album/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('album/style.css')}}">
    <style>
      .video-view {
          padding: 0 200px;
          height: auto;
      }
    </style>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{asset('album/js/popper.min.js')}}"></script>
    <script src="{{asset('album/js/bootstrap.min.js')}}"></script>
    <script src="{{asset('album/js/owl.carousel.min.js')}}"></script>
    <script src="{{asset('album/js/main.js')}}"></script>
{% endblock %}

{% block header_title %}
    Albums
{% endblock %}
 
{% block content %}
    <div class="padding">
    <div class="block pl-5 pr-5 m-4">
        <div class="sous-block w-100">
            <img src="mariage/mariage.png" class="img mrg-image" alt="">
            <h4 class="font-Monserrat font-italic font-weight-bold mt-3 ml-3">Adnane et Hasna</h4>
        </div>
        <div class="sous-block w-100">
            <img src="mariage/hall.png" class="img mrg-image ml-auto" alt="">
            <h4 class="font-Monserrat font-italic font-weight-bold mt-3 ml-3">A la mairie </h4>
        </div>
    </div>
        <div class="video-view w-100">
            <video controls src="videos/echantillon.mp4" class="img img-thumbnail" id="maVideo" poster ="predefinie/images/carousel-1.jpg"></video>
        </div>
                <div class="owl-carousel p-5 pb-2 owl-2">
          <div class="media-29101">
            <a href="#"><img src="{{asset('album/images/img_1.jpg')}}" alt="Image" class="img-fluid img-thumbnail"></a>
            <h3><a href="#">Consectetur Adipisicing Elit</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('album/images/img_2.jpg')}}" alt="Image" class="img-fluid img-thumbnail"></a>
            <h3><a href="#">Beatae Doloribu</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('album/images/img_3.jpg')}}" alt="Image" class="img-fluid img-thumbnail"></a>
            <h3><a href="#">Accusantium Eius Soluta</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('album/images/img_4.jpg')}}" alt="Image" class="img-fluid img-thumbnail"></a>
            <h3><a href="#">Consectetur Adipisicing Elit</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('album/images/img_5.jpg')}}" alt="Image" class="img-fluid img-thumbnail"></a>
            <h3><a href="#">Beatae Doloribu</a></h3>
          </div>
          <div class="media-29101">
            <a href="#"><img src="{{asset('album/images/img_6.jpg')}}" alt="Image" class="img-fluid img-thumbnail"></a>
            <h3><a href="#">Accusantium Eius Soluta</a></h3>
          </div>
        </div>
    </div>
{% endblock %}