{% extends 'base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block stylesheets  %}
    {{ parent() }}
    <style>
        .img-prest
        {
            height : 350px ;
            object-fit : cover ;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    
    {% endblock %}
{% block header_title %}
    Détails Mariage
{% endblock %}

{% block content %}
<div class="p-5">
    <div class="row mb-4" > 
        <div class="col-md-4" >
            <img src="{{asset('plugs/photo/albums/' ~ unePrestation.Image )}}" class="img w-100 img-prest" />
        </div> 
        <div class="col-md-8" >
            <h2 class="font-Montserrat" >{{ unePrestation.Nom }}</h2>
            <label for="" class="font-Montserrat">{{ unePrestation.Description|raw }}</label><br>
            <button class="btn btn-success">Reserver</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-lg table-bordered">
            <thead class="thead-brown">
                <tr>
                    <th>Designation</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ unePrestation.Nom }}</td>
                    <td>{{ unePrestation.IdPrix }} KMF</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}