{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}
{% block stylesheets %}
{{ parent() }}
<style>
    .col-md-3
    {
        padding-top: 50px ;
    }
        .pt-0{
        padding-top : 0px !important ;
    }
</style>
{% endblock %}

{% block javascripts %}
    {{parent()}}

{% endblock %}

{% block header_title %}
    Prestations
{% endblock %}

{% block content %}
<div class="pl-3 pr-3 pb-1 w-100">
<h2 class="font-Montserrat mt-4 font-weight-bold text-center">Toutes nos Prestations </h2>
  <hr>
</div>

<div class="p-5 pt-0 pb-2">
    <div class="row">
        {% for prestation in prestations %}
            <div class="col-md-3">
                <div class="card-sl">
                    <div class="card-image">
                        <img src="{{asset('plugs/photo/albums/' ~ prestation.Image)}}" />
                    </div>
                    {# <a class="card-action" href="#"><i class="fa fa-heart"></i></a> #}
                    <div class="card-heading">
                        {{ prestation.Nom }}
                    </div>
                    <a href="{{path('app_detailPrest')}}" class="card-button"> Voir les tarifs</a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}
