 
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                    <th>Type</th>
                    <th>Designation</th>
                    <th>Prix</th>
                    <th>Qte</th>
                    <th>Total (KMF)</th>
                </tr>
            </thead>
            <tbody>
            {% set totalP = 0 %}
            {% set totalG = 0 %}

            {% for panier in field.value %}  
                {% set totalP = panier.IdCategorie.IdPrix * panier.quantite %}
                <tr>
                    <td>{{ panier.IdCategorie.IdTypeOffre.Nom }}</td>
                    <td>{{ panier.IdCategorie.Nom }}</td>
                    <td class="text-right">{{ panier.IdCategorie.IdPrix|number_format(0, '.', ' ') }}</td>
                    <td class="text-right">{{ panier.quantite|number_format(0, '.', ' ') }} </td>
                    <td class="text-right">{{ totalP|number_format(0, '.', ' ') }}</td>
                {% set totalG = totalG + totalP %}
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">Total General</th>
                    <th class="totalG text-right">{{ totalG|number_format(0, '.', ' ') }}</th>
                </tr>
            </tfoot>
            </table>
    </div>