<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SoibahLHer Shuhuli - {% block title %}Mariage{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="SoibahLHer Shuhuli" name="keywords">
        <meta content="SoibahLHer Shuhuli" name="description">
        {% block stylesheets %}
        <!-- Mon Style -->
        <link rel="stylesheet" href="{{asset("plugs/perso/css/main.css")}}">
        <!-- Favicon -->
        <link rel="stylesheet" href=" {{ asset('plugs/predefinie/css/bootstrap.css') }} ">
        <link rel="stylesheet" href=" {{ asset('plugs/predefinie/css/bootstrap.min.css') }} ">
        <link rel="stylesheet" href=" {{ asset('plugs/predefinie/css/jquery-confirm.css') }} ">
        <link href="{{asset("plugs/predefinie/images/mariage.ico")}}" rel="icon">
        <link rel="stylesheet" href="{{asset("plugs/slider/normalize.min.css")}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;600&display=swap" rel="stylesheet"> 
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic'>
        <link href="https://fonts.cdnfonts.com/css/parisienne" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/wedding" rel="stylesheet">
         
        <link rel="stylesheet" href="{{asset("plugs/predefinie/css/footer.css")}}">
        <link rel="stylesheet" href="{{asset("plugs/slider/style.css")}}">
        <link rel="stylesheet" href="{{asset('plugs/prestations/style.css')}}">
        <link rel="stylesheet" href="{{asset('plugs/boutiques/style.css')}}">
        <link rel="stylesheet" href="{{asset('plugs/menu/fonts/icomoon/style.css')}}">
        <link rel="stylesheet" href="{{asset('plugs/menu/css/style.css')}}">
        <link href="{{asset('plugs/lightbox/dist/css/lightbox.css')}}" rel="stylesheet" />
        {% endblock %}
        <style>
            .icon-menu:before {
                content: "\e5d2";
            }
            footer
            {
                height : auto ;
            }
            .logoFooter
            {
                width: 220px;
                height : 220px ;
            }
            .logoMariage
            {
              width : 65px ;
              height : 65px ;
            }
            .contentLogo
            {
              display : flex ;
              flex-direction : row ;
              align-items : center ;
            }
            .site-navbar
            {
              position: initial;
              background: linear-gradient(132deg, rgba(250,188,19,1) 9%, rgba(213,165,6,1) 36%, rgba(185,95,19,1) 63%, rgba(255,85,0,1) 87%);
              padding-top: 0.5em ;
              padding-bottom : 0.5em ;
            }
            .site-logo
            {
              margin-top : 0 !important ;
            }
            .thead-brown
            {
                background-color: #b95f13;
                color: white;
            }
        </style>
    </head>
    <body>  
    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="pl-3 contentLogo col-xl-3">
            <img src="{{asset('plugs/predefinie/images/logo.jpeg')}}" alt="" class="img mr-3 rounded-circle logoMariage">
            <h2 class="mb-0 site-logo text-white font-Montserrat font-italic font-weight-bold mb-0">
            SoibahLHer Shuhuli
            </h2>
          </div>
          <div class="col-xl-9 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class=""><a href="{{path('app_accueil')}}"><span>Accueil</span></a></li>
                <li class=""><a href="{{path('app_agenda')}}"><span>Agenda</span></a></li>
                <li class="has-children">
                  <a href="#"><span>Festivités</span></a>
                  <ul class="dropdown">
                    <li><a href="{{path('app_mariage')}}">Mariage</a></li>
                    <li><a href="{{path('app_albums')}}" class="album">Albums</a></li>
                    <li><a href="{{path('app_videos')}}" class="video">Vidéos</a></li>
                    <li><a href="{{path('app_audio')}}" class="audio">Audio</a></li>
                    {# <li class="has-children">
                      <a href="#">Dropdown</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                        <li><a href="#">Menu Four</a></li>
                      </ul>
                    </li> #}
                  </ul>
                </li>
                <li><a href="{{path('app_actualites')}}"><span>Actualités</span></a></li>
                <li><a href="{{path('app_boutiques')}}"><span>Boutiques</span></a></li>
                <li><a href="{{path('app_prestations')}}"><span>Prestations</span></a></li>
                <li><a href="{{path('app_contact')}}"><span>Contact</span></a></li>
                <li><a href="{{path('app_panier')}}"><span><i class="fas fa-shopping-cart"></i></span></a></li>
              </ul>
              
            </nav>
          </div>
          <div class="d-inline-block text-right d-xl-none w-100  pr-3" style="position: relative; top: -47px !important; left:0"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>
    </header>
{% if page_name != "Accueil" %}
<section class="g-banniere" >
<h1>{{ page_name }}</h1>
</section>
{% endif %}

{% block content %}

{% endblock %}
    <footer class="footer-14398">
      
        <div class="container">
          <div class="row">
            <div class="col-md-3 text-center">
              <img src="{{asset('plugs/predefinie/images/logo.jpeg')}}" alt="" class="img rounded-circle logoFooter">
            </div>
            <div class="col-md-2 ml-auto">
              <h3>Nos Liens</h3>
              <ul class="list-unstyled  links">
                <li><a href="#" class="text-white">Agenda</a></li>
                <li><a href="#" class="text-white">Mariage</a></li>
                <li><a href="#" class="text-white">Actualités</a></li>
                <li><a href="#" class="text-white">Boutiques</a></li>
                <li><a href="#" class="text-white">Prestations</a></li>
              </ul>
            </div>
            <div class="col-md-2 ml-auto">
              <h3>Nos patenaires</h3>
              <ul class="list-unstyled links">
                <li><a href="#" class="text-white">Hikam SM</a></li>
                <li><a href="#" class="text-white">Partenaire 2</a></li>
                <li><a href="#" class="text-white">Partenaire 3</a></li>
                <li><a href="#" class="text-white">Partenaire 4</a></li>
                <li><a href="#" class="text-white">Partenaire 5</a></li>
              </ul>
            </div>
            <div class="col-md-2 ml-auto">
              <h3>Contacts</h3>
              <ul class="list-unstyled links">
                <li><a href="#" class="text-white">Facebook : </a></li>
                <li><a href="#" class="text-white">Gmail : </a></li>
                {# <li><a href="#">Team</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Contacts</a></li> #}
              </ul>
            </div>
          </div>

          {# <div class="row mb-4">
            <div class="col-12 pb-4">
              <div class="line"></div>
            </div>
            <div class="col-md-6 text-md-left">
              <ul class="list-unstyled link-menu nav-left">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Code of Conduct</a></li>
              </ul>
            </div>
            <div class="col-md-6 text-md-right">
              <ul class="list-unstyled social nav-right">
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-pinterest"></span></a></li>
              </ul>
            </div>
          </div> #}

          {# <div class="row">
            <div class="col-md-7">
              <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, fuga. Ex at maxime eum odio quibusdam pariatur expedita explicabo harum! Consectetur ducimus delectus nemo, totam odit!</small></p>
            </div>
          </div> #}
        </div>
    </footer>
{% block javascripts %} 
<script src="{{asset("plugs/predefinie/js/jquery.js")}}"></script>
<script src="{{asset("plugs/predefinie/js/jquery-confirm.js")}}"></script>
<script src="{{asset("plugs/predefinie/js/bootstrap.js")}}"></script>
<script src="{{asset("plugs/predefinie/js/bootstrap.min.js")}}"></script>
<script src="{{asset("plugs/bundles/fosjsrouting/js/router.js")}}"></script>
<script src="{{asset("plugs/slider/TweenMax.min.js")}}"></script>
<script  src="{{asset("plugs/slider/script.js")}}"></script>
<script  src="{{asset("plugs/perso/js/main.js")}}"></script>
<script src="{{asset('plugs/mariage/main.js')}}"></script>
<script src="{{asset('plugs/menu/js/jquery.sticky.js')}}"></script>
<script src="{{asset('plugs/menu/js/main.js')}}"></script>
<script src="{{asset('plugs/lightbox/dist/js/lightbox.js')}}"></script>
{% endblock %}
    </body>
</html>
